.header-container{
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff4081;
    width: 100%;
    height: 100px;
    .title{
        padding-left: 30px;
        margin: 0px;
        color: white;
        font-size: 50px;
    }
    .creator-links-container{
        display: flex;

        .creator-link-wrapper{
            .creator-link{
                height: auto;
                width: auto;
            }
        }

    }
   

    
}