.goal-card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-radius: 0;
    background-color: #ff4081;
    padding: 20px;

    .goal-card-title{
        color: white;
    }
}