<mat-card matRipple class="goal-card">
    <mat-card-title (mouseup)="clickCard()" class="goal-card-title">{{goalTitle}}</mat-card-title>
    <mat-card-content (mouseup)="clickCard()" *ngIf="isExpanded" class="goal-card-content">
            <div class="goal-description">
                <h3 class="goal-description-title">Description</h3>
                <em class="goal-description-text">{{goalDescription}}</em>
            </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isExpanded" class="actions-footer">
        <button mat-raised-button class="complete-button" color="primary">Complete</button>
    </mat-card-actions>
</mat-card>
